:root{
  --primary-color:#556b2f;
  --primary-text-color:#faebd7
}

#Header{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  background-color: var(--primary-color);
  border: 10px solid var(--primary-text-color);
  margin:auto;
  border-radius: 20px;
  max-width: 85%;
  padding:1em;
}

#Header>p{
  text-align: center;
  width:30%;
  margin: 25px auto;
  color: var(--primary-text-color);
  padding:10px;
  border-bottom:3px dashed rgba(255,255,255, .4);
  rotate: 1 2 3 30deg;
  overflow: hidden;
}

#weaponSelect{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

#weapon-pic{
  place-items: center;
  width: 100px;
  height: 100px;
}



.weapon{
  width:200px;
  height:200px;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  background: var(--primary-text-color);
  justify-content: center;
  align-content: center;
}

#scoreboard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

tr{
  display: flex;
  margin:auto;
}
tbody{
  display: flex;
  flex-direction: column;
}
td{
  padding:10px;
  margin: 0 20px;
}
